@font-face { font-family: Gilroy; src: url('assets/fonts/Gilroy-Regular.ttf'); }
@font-face { font-family: Montserrat; src: url('assets/fonts/Montserrat-Regular.ttf'); }
html { overflow-x: hidden; }
body {
    background-color: #F4F4FF;
    overflow-x: hidden;
    font-family: arial,helvetica,sans-serif
}
button:focus { outline: none; }
.noscroll { overflow: hidden; }

.section-main {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 86.3vh;
    background: linear-gradient(180deg, #ABB7F4 10.36%, #3E57D2 100%);;
}
.section-main header {
    height: 80px;
    z-index: 700;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    background: linear-gradient(180deg, #ABB7F4 10.36%, #abb7f4 100%)
}
.section-main header .logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-main header .logo-wrapper .menu-button{
    display: none;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.section-main header nav {
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-main header nav a{
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.section-main header .lang-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-main header .lang-wrapper .lang-button {
    background-color: #fff;
    border-radius: 50%;
    border: none;
    height: 32px;
    width: 32px;
    margin: 0 5px;
    background-color: #c5cdf7;
    color: #8798e9;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    /* identical to box height, or 100% */

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.section-main header .lang-wrapper .lang-button.active {
    background-color: #304ccf;
    color: #fff;
}
.background-logo-1 {
    position: absolute;
    top: 33%;
    right: 0;
}
.background-logo-2 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(50%);
}
.background-logo-3 {
    position: absolute;
    top: 25.5%;
    left: 12.5%;
}
.background-logo-4 {
    position: absolute;
    top: 0;
    right: 0;
}
.background-logo-5 {
    position: absolute;
    top: 0;
    left: 0;
}
.background-logo-6 {
    position: absolute;
    left: 0;
    bottom: 10px;
}
.backface {
    position: absolute;
    background-color: rgba(0,0 ,0,0.5);
    z-index: 100;
}
.backface.show {
    width: 100%;
    height: 100%;
}
.mobile-menu {
    z-index: 1000;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;;
    background-color: #fff;
    transform: translateX(-100%);
    transition: 0.3s;
}
.mobile-menu.open {
    transform: translateX(0);
}
.mobile-menu a{
    font-size: 12px;
    color: #000;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px;

}
@media screen and (max-width: 992px) {
    .section-main header nav {
        display: none;
    }
    .section-main header .logo-wrapper .menu-button {
        display: inline;
    }

}
  

main {
    display: flex;
    align-items: center;
    margin: calc(80px + 5%) 14.5%;
}
main .jumbotron {
    width: 100%;
    display: flex;
    flex-direction: column;
}
main .jumbotron h1 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}
main .jumbotron p {
    padding-top: 20px;
    margin-top: 10px;
    border-top: 1px solid #fff;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
main .jumbotron button {
    margin-top: 60px;
    margin-right: auto;
    height: 48px;
    width: 184px;
    color: #fff;
    background-color: #25dc89;
    border: none;
    border-radius: 8px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    /* identical to box height, or 100% */
    
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
main .image-wrapper {
    margin-left: 80px;
    width: 100%;
    margin-bottom: 24px;
}
main .image-wrapper img {
    width: 100%;
}
@media screen and (max-width: 992px) {
    main {
        flex-direction: column;
    }
    main .image-wrapper {
        margin: 0;
    }
}
@media screen and (max-width: 600px) {
    main .jumbotron button {
        width: 100%;
    }
}

.section-about {
    /* height: 65vh; */
    display: flex;
    background-color: #eeeeff;
    padding: 7% 7.3%;
}
.section-about .image-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 110px;
    align-items: flex-start;
}
.section-about .image-wrapper img {
    width: 100%;
    max-width: 470px;
}
.section-about .about {
    width: 100%;
}
.section-about .about h2 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
}
.section-about .about .highlight {
    color: #304ccf;
}
.section-about .about p {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    color: #000000;
}
.section-about .about p:first-of-type {
    margin-top: 20px;
}
.section-about .about p:not(:first-of-type) {
    margin-top: 50px;
}
@media screen and (max-width: 750px) {
    .section-about {
        flex-direction: column;
    }
    .section-about .image-wrapper {
        margin-bottom: 20px;
    }
}

.section-features {
    margin: 5% 7.3%;
    padding: 5% 6.3%;
    background-color: #eeeeff;
    display: flex;
    flex-direction: column;
}
.section-features h2 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
}
.section-features .features-list {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}
.feature-tile {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddddf8;
    border-radius: 4px;
    padding: 48px 45px 66px;
    max-width: 324px;
    margin-bottom: 12px;
}
.feature-tile:not(:last-child) {
    margin-right: 10px;
}
.feature-tile.white {
    background-color: #fff;
}
.feature-tile .logo {
    width: 80px;
}
.feature-tile .title {
    margin-top: 30px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #000;
}
.feature-tile .description {
    margin-top: 10px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.section-products {
    margin: 5% 7.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-products .section-title {
    margin-top: 60px;

    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #1F1F1F;
}
.section-products .section-subtitle {
    margin-top: 10px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}
.section-products .list-title {
    margin-top: 40px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}
.section-products .content {
    width: 100%;
    display: flex;
}
.section-products .features-list {
    margin-top: 5%;
    width: 200%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.section-products .features-list .feature {
    /* min-width: 200px; */
    /* flex-basis: 40%; */
    padding: 10px;
    margin-bottom: 60px;
}
.section-products .features-list .feature .title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}
.section-products .features-list .feature .description {
    margin-top: 10px;
    max-width: 360px;
}
.section-products .images-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    min-width: 300px;
}
.section-products .images-column img {
    width: 60%;
}
@media screen and (max-width: 1140px) {
    .section-products .images-column img {
        width: 100%;
        max-width: 290px;
    }
}
@media screen and (max-width: 950px) {
    .section-features .features-list {
        flex-direction: column;
    }
    .section-products .features-list {
        flex-wrap: wrap;
    }
    .section-features .features-list .feature-tile {
        max-width: none;
    }
}

.section-roadmap {
    padding: 5% 7.3%;
    background-color: #eeeeff;
}
.section-roadmap .section-title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 40px;
}
.section-roadmap .roadmap-line-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
.section-roadmap .roadmap-line {
    position: absolute;
    width: 200vw;
    transform: translateX(-10%);
}
.section-roadmap .roadmap-tile {
    width: 20%;
    position: relative;
}
.section-roadmap .roadmap-tile .roadmap-tile__title {
    margin-bottom: 10px;
    color: #3E57D2;
}
.section-roadmap .roadmap-tile .roadmap-tile__features {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}
.section-roadmap .roadmap-top {
    display: flex;
}
.section-roadmap .roadmap-ellips {
    position: absolute;
    z-index: 500;
}
.section-roadmap .roadmap-top .roadmap-ellips {
    bottom: -6px;
}
.section-roadmap .roadmap-top .roadmap-tile {
    padding-bottom: 16px;
}
.section-roadmap .roadmap-top .roadmap-tile:not(:first-of-type) {
    margin-left: auto;
}
.section-roadmap .roadmap-tile ul {
    padding-left: 20px;
}
.section-roadmap .roadmap-bottom {
    display: flex;
}
.section-roadmap .roadmap-bottom .roadmap-ellips {
    top: -6px;
}
.section-roadmap .roadmap-bottom .roadmap-tile {
    padding-top: 16px;
    margin-left: auto;
}
.section-roadmap .roadmap-bottom .roadmap-tile:not(:first-of-type) {
    margin-right: auto;
}

.section-social {
    margin: 5% 7.3%;
    padding: 5% 7.3%;
    background-color: #eeeeff;
    display: flex;
    flex-direction: column;
}
.section-social .section-title {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 10px;
}
.section-social .content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.section-social .social-links button {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.section-social .email {
    color: #304CCF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}
.section-social .action {
    height: 48px;
    width: 184px;
    color: #fff;
    background-color: #25dc89;
    border: none;
    border-radius: 8px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media screen and (max-width: 750px) {
    .section-social {
        align-items: center;
    }
    .section-social .content {
        flex-direction: column;
        align-items: center;
    }
    .section-social .email, .section-social .social-links {
        margin-bottom: 16px;
    }
}

footer {
    padding: 5% 7.3%;
    background-color: #1f1f1f;
    color: white;
    display: flex;
    justify-content: space-between;
}
footer .logo {
    margin-top: 0;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #FFFFFF;
}
footer .copy-right {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

footer .logo-wrapper {
    display: flex;
    align-items: center;
}
footer .logo-wrapper img {
    margin-bottom: 2px;
    margin-right: 2px;
}
@media screen and (max-width: 750px) {
    footer { flex-direction: column; }
    footer .social-links { justify-content: center; }
}


